html,
body {
  background-color: rgb(44, 44, 44);
  color: rgb(208, 208, 208);
  font-family: sans-serif;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
