.header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.questionNumber {
  flex-grow: 1;
  font-size: 1.6rem;
}

.text {
  margin-top: 2rem;
  padding: 0 0.75rem;
  font-size: 2rem;
  text-align: center;
}

.answers {
  padding: 0 0.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 2rem;
}

.listLayout {
  grid-template-columns: 1fr;
}

.gridLayout {
  grid-template-columns: repeat(2, 1fr);
}

.answer {
  min-height: 3.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
